.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

bin
obj
.vs/microsoft365-elgato-plugin-office/FileContentIndex/e55243c4-af34-43b3-b9e3-f50b56b4828d.vsidx
.vs/ProjectEvaluation/microsoft365-elgato-plugin-office.projects.v7.bin
.vs/ProjectEvaluation/microsoft365-elgato-plugin-office.metadata.v7.bin
.vs/ProjectEvaluation/microsoft365-elgato-plugin-office.projects.v7.bin
